# Основные библиотеки для научных вычислений
numpy>=1.23.0
scipy>=1.9.0

# Работа с данными
pandas>=1.4.0

# Визуализация данных
matplotlib>=3.5.0
seaborn>=0.11.2

# Машинное и глубинное обучение
scikit-learn>=1.0.0
# tensorflow>=2.9.0 # или, альтернативно, PyTorch
--extra-index-url https://download.pytorch.org/whl/cu118
torch>=1.12.0    # PyTorch с поддержкой CUDA
torchvision>=0.13.0
torchaudio>=0.12.0

# Работа с изображениями
pillow>=9.0.0

# Приручение данных в формате YAML
pyyaml>=6.0

# Работа с моделями машинного обучения и трансформерами
transformers>=4.48.3

# Обработка естественного языка
nltk>=3.7
spacy>=3.8.0

# Jupyter Notebook для интерактивного анализа
jupyterlab>=3.4.0

# Градиентный бустинг
xgboost>=1.6.0
lightgbm>=3.3.0

# Инструменты для визуализации данных и управляющих панелей
plotly>=5.9.0
dash>=2.6.0

kagglehub>=0.2.0
datasets>=2.10.0
accelerate>=0.26.0

nbformat

timm>=0.9.0
